.DS_Store
Example/.DS_Store
Example/YetJ_TM2_open/.DS_Store
Example/LmrP_OutwardFacing/ExampleOutput/worker2_1/
Example/LmrP_OutwardFacing/ExampleOutput/worker2_1_new/
Example/LmrP_OutwardFacing/ExampleOutput/worker2_2/
Example/LmrP_OutwardFacing/ExampleOutput/worker2_2_new/
Example/LmrP_OutwardFacing/ExampleOutput/worker2_3/
Example/LmrP_OutwardFacing/ExampleOutput/worker2_3_new/
Example/LmrP_InwardFacing/ExampleOutput/good_structure/
Example/LmrP_OutwardFacing/Untitled.txt
